## Copyright 2009-2018 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe:
#encoding UTF-8
##
<!DOCTYPE html>
<html lang="en">
  <head>
    ## This choice should match the #encoding directive above
    <meta charset="UTF-8">
    <title>$station.location</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="seasons.css"/>
    <script src="seasons.js"></script>
  </head>

  <body onload="setup();">
    #include "titlebar.inc"
    
    <div id="contents">
      <div id="widget_group">
        #include "forecast.inc"
        #include "current.inc"
        #include "sunmoon.inc"
        #include "hilo.inc"
        #include "sensors.inc"
        #include "about.inc"
        #include "radar.inc"
        #include "satellite.inc"
        #include "map.inc"
      </div>

      <div id="plot_group">
        <div id="history_widget" class="widget">
          <div id="plot_title" class="widget_title">History:&nbsp;&nbsp;
            <a class="button_selected" id="button_history_day"
               onclick="choose_history('day')">Day</a>
            <a class="button" id="button_history_week"
               onclick="choose_history('week')">Week</a>
            <a class="button" id="button_history_month"
               onclick="choose_history('month')">Month</a>
            <a class="button" id="button_history_year"
               onclick="choose_history('year')">Year</a>
          </div>
#set $archive_data = [($day, 'day'), ($week, 'week'), ($month, 'month'), ($year, 'year')]
#for $archive, $label in $archive_data
          <div id="history_${label}" class="plot_container">
            #if $archive.barometer.has_data
            <img src="${label}barometer.png" alt="$obs.label.barometer"/>
            #end if
            #if $archive.outTemp.has_data
            <img src="${label}tempout.png"   alt="$obs.label.outTemp" />
            #end if
            #if $archive.outHumidity.has_data
            <img src="${label}humout.png"    alt="$obs.label.outHumidity" />
            #end if
            #if $archive.windSpeed.has_data
            <img src="${label}wind.png"      alt="$obs.label.windSpeed" />
            <img src="${label}winddir.png"   alt="$obs.label.windDir" />
            <img src="${label}windvec.png"   alt="$obs.label.windvec" />
            #end if
            #if $archive.rain.has_data
            <img src="${label}rain.png"      alt="$obs.label.rain" />
            #end if
            #if $archive.UV.has_data
            <img src="${label}uv.png"        alt="$obs.label.UV" />
            #end if
            #if $archive.radiation.has_data
            <img src="${label}radiation.png" alt="$obs.label.radiation" />
            #end if
            #if $archive.inTemp.has_data or $archive.extraTemp1.has_data or $archive.extraTemp2.has_data or $archive.extraTemp3.has_data or $archive.extraTemp4.has_data or $archive.extraTemp5.has_data or $archive.extraTemp6.has_data or $archive.extraTemp7.has_data or $archive.extraTemp8.has_data
            <img src="${label}temp.png"      alt="$obs.label.inTemp" />
            #end if
            #if $archive.inHumidity.has_data or $archive.extraHumid1.has_data or $archive.extraHumid2.has_data or $archive.extraHumid3.has_data or $archive.extraHumid4.has_data or $archive.extraHumid5.has_data or $archive.extraHumid6.has_data or $archive.extraHumid7.has_data or $archive.extraHumid8.has_data
            <img src="${label}hum.png"       alt="$obs.label.inHumidity" />
            #end if
            #if $archive.rxCheckPercent.has_data
            <img src="${label}rx.png"        alt="$obs.label.rxCheckPercent"/>
            #end if
          </div>
#end for
        </div>
      </div>
    </div>

    <p class="footnote">
      This station is controlled by <a href="http://weewx.com/">WeeWX</a>, an
      experimental weather software system written in Python.
    </p>

    #include "analytics.inc"

</body>

</html>
